# Arquivos do Build
bin/
obj/

# Configurações de usuário e IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de Logs
*.log

# Configurações do Sistema
*.DS_Store
Thumbs.db

# Arquivos de Publicação
publish/
out/

# Dependências e pacotes
*.nupkg
*.snupkg

# Arquivos temporários e cache
*.tmp
*.temp
*.lock
*.pid
*.seed
*.bak

# Configuração do Rider
*.Rider/

# Configurações locais do ASP.NET Core
appsettings.*.json
